<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335267985556-6a8kvkl0s7cf576ir3psni4t8cd4v1qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335267985556-6a8kvkl0s7cf576ir3psni4t8cd4v1qu</string>
	<key>API_KEY</key>
	<string>AIzaSyBn6amyLthOiRGmaZf_9m-Z-yFgJE8SFRk</string>
	<key>GCM_SENDER_ID</key>
	<string>335267985556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.AppPush</string>
	<key>PROJECT_ID</key>
	<string>apppush-1f4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>apppush-1f4f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335267985556:ios:d1c9572baa76df12459c81</string>
</dict>
</plist>